
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>chillbetter: perpetual refinement of self ;) </title>
</head>
<body>
  

<!--Landing Page-->
<!-- Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom py-0">
  <a class="navbar-brand" href="#">chillbetter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">misc</a>
      </li>
    </ul>
    <span class="navbar-text">
      perpetual refinement of self
    </span>
  </div>
</nav>

<!--Hero Banner Text-->
<div 
  class="container-fluid" 
  class="text-center" 
  id="hero-text">
  <h1>Original Content Every Solstice and Equinox</h1>
</div>

<!--Above the fold UI assets-->
<div class="container">
  <div class="row">
    <div 
      class="img-fluid" 
      id="matcard">
      <img src="assets/images/bio-card.svg">      
    </div>
    
    <div
      id="right-intro" 
      class="col order-2"       
      class="img-fluid">
      <div class="text-center">
      <img src="assets/images/venn-diagram.svg">
    </div>

      <div 
        class="col order-3"       
        class="img-fluid">
        <div class="text-center">  
        <img src="assets/images/intro-text.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<!--Page break-->
<hr
  id="above-the-fold">

<!---Below the fold, 1st page: 2018-->
<!--Left column timeline-->
<div class="container row"
  id="body">
    <div 
      class="col-2" 
      id="timeline">
      
      <h2 align="center">
          2018
      </h2>
      <img 
        class="mx-auto d-block"
        src="assets/images/ellipse-red.svg" 
        alt="red dot">
      <br>
    
      <h2 align="center">
        2017
      </h2>
      <img 
        class="mx-auto d-block"
        src="assets/images/ellipse.svg" 
        alt="dot">
      <br>

      <h2 align="center">
        2016
      </h2>
      <img 
        class="mx-auto d-block"
        src="assets/images/ellipse.svg" 
        alt="dot">
      <br>

      <h2 align="center">
        2015
      </h2>
      <img 
        class="mx-auto d-block"
        src="assets/images/arrow.svg" 
        alt="arrow">
      <br>
      <br>
    </div>

<!--Main body: seasons-->
<div class="container row">

<!--Arrow-body-top
  <div>
    <img 
      class="mx-auto d-block"
      src="assets/images/arrow-body-top.svg"
      alt="arrow-body-top">
  </div>-->

  
  <div class="col">
      <div class="row-lg-9">
        Level 1: .row-lg-9
        <div class="col">
          <div class="row-8 row-lg-6">
            Level 2: .row-8 .row-lg-6
          </div>
          <div class="row-4 row-lg-6">
            Level 2: .row-4 .row-lg-6
          </div>
        </div>
      </div>
    </div>



  <div class="text-center">
    <img
      id="spring"
      src="assets/images/box-spring.svg"
      alt="spring">
    <img
      id="summer"
      src="assets/images/box-summer.svg"
      alt="summer">
  </div>

  <div class="text-center">
    <img
      id="winter"
      src="assets/images/box-winter.svg"
      alt="winter">
    <img
      id="autumn"
      src="assets/images/box-autumn.svg"
      alt="autumn">
  </div>
</div>

<!--Arrow-right & bottom
<div>
    <img 
      class="mx-auto d-block"
      src="assets/images/arrow-body-bottom.svg"
      alt="arrow-body-bottom">
  </div>

    <div
      class="col-1" 
      id="arrow-body-right">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <img 
          src="assets/images/arrow-body-right.svg" 
          alt="arrow-body-right">
    </div>-->
</div>

<!--Page break-->
<hr id="bio">

</body>
</html>


<!--Bio page-->

<div class="text-center">
  <div
    class="container-fluid"
    id="bio-box">
      <img src="assets/images/why-box.svg"
      alt="why-box"
      id="why-box">
      <img src="assets/images/contact-box.svg"
      alt="contact-box"
      id="contact-box">
  </div>


  <div
  class="container col-lg-12 text-center"
  class="diamond-gif"
  style="position:absolute; width: 200px; height: 200px; overflow: hidden; left:43vw">
    <iframe src="https://giphy.com/embed/PdfNwG98g6Sxq" 
      width="480" 
      height="480" 
      frameBorder="0" 
      class="giphy-embed" 
      style="position: relative; left: -140px; top: -135px"
      allowFullScreen></iframe>

    </div>
    </div>