#hero-text {
    margin: 5rem;
}

#right-intro {
    margin-left: 5rem;
}

#matcard {
    position: static;
    margin: 5%;
}

#above-the-fold {
    margin: 3rem;
}

#spring {
    margin-bottom: 3rem;
}

#summer {
    margin-bottom: 3rem;
    margin-left: 3rem;
}

#autumn {
    margin-left: 3rem;
}